Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-braces-around-statements,
  readability-identifier-naming,
  readability-magic-numbers,
  cppcoreguidelines-macro-usage,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1'

  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.NamespacePrefix
    value: N

  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase

  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: T
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: T
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: T

  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.AbstractClassPrefix
    value: I

  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
