BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 100
SortIncludes: CaseSensitive

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  BeforeElse: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
